<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<center> <img src='./pr2images/DBlogo.png'id='headerImg'></center>


<!--Nav Begining -->
<nav data-th-fragment="header" class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <!-- Container -->
    <div class="container-fluid">
        <!-- Nav Bar Brand -->
        <a class="navbar-brand" href="#">DB Enterprise</a>

        <ul class='navbar-nav'>
            <li class='nav-item'>
                <a class='nav-link' href='home.php'>Home</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link' href='shop.php'>Customize</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link' href='cart.php'>Cart</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link' href='vieworder.php'>View Order</a>
            </li>

        </ul>
        <ul class='navbar-nav navbar-right'>
            <li class='nav-item'>
                <a class='nav-link' href='login.php'>Login
                    <i class="glyphicon glyphicon-user"></i>
                </a>
            </li>
        </ul>
    </div>
    <!--/container-->
</nav>
<div data-th-fragment="footer" class ="footer"><!-- beg. footer -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-bottom">

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Customer Service</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Locations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Times</a>
            </li>
        </ul>
    </nav>
    <hr>
    <br>
    <h6><center>Copyrights October 16 2019</center></h6>
    <h6><center>Designed by Gustavo, Eddie, and Jinxu</center></h6>
</div><!-- end footer-->
</body>
</html>