<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<center> <img src="#" data-th-src="@{images/pr2images/DBlogo.png}" id="headerImg"></center>


<!--Nav Begining -->
<nav data-th-fragment="header" class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <!-- Container -->
    <div class="container-fluid">
        <!-- Nav Bar Brand -->
        <a class="navbar-brand" href="#">DB Enterprise</a>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a  class='nav-link' href="/home" data-th-href="@{/home}">Home</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link' href='#'>Customize</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link' href="#" data-th-href="@{/cart}">Cart</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link' href="/orders">View Order</a>
            </li>
            <li sec:authorize="hasAnyRole('ADMIN', 'EMPLOYEE')" class="nav-item">
                <a class="nav-link" href="#" data-th-href="@{/projects}">Projects</a>
            </li>

        </ul>
        <ul class='navbar-nav navbar-right'>
            <li sec:authorize="isAnonymous()" class='nav-item'>
                <a class='nav-link' href="#" data-th-href="@{/login}">Login
                    <i class="glyphicon glyphicon-user"></i>
                </a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a class="nav-link" href="#" data-th-href="@{/logout}">
                    LogOut
                    <i class="glyphicon glyphicon-user"></i>
                </a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
                Logged In As:
                <span class="nav-link" sec:authentication="name">name</span>
            </li>
        </ul>

    </div>
    <!--/container-->
</nav>
<div data-th-fragment="footer" class ="footer"><!-- beg. footer -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-bottom">

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Customer Service</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Locations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Times</a>
            </li>
        </ul>
    </nav>
    <hr>
    <br>
    <h6><center>Copyrights October 16 2019</center></h6>
    <h6><center>Designed by Gustavo, Eddie, and Jinxu</center></h6>
</div><!-- end footer-->
</body>
</html>