<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>

    <link rel="stylesheet" data-th-href="@{css/styles.css}">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          data-th-href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container-fluid">
    <!--    <div style="text-align: center;"> <img src="#" data-th-src="@{images/pr2images/DBlogo.png}" id="headerImg" alt="nothing"></div>-->
    <header data-th-insert="fragments/navBar.html :: header"></header>
    <div class="container">
        <div class="card border-0 shadow my-3">
            <div class="card-body p-5">
                <h1 class="font-weight-light">Welcome to the DB Sports Car Enterprise!</h1>
                <h2 style="align-content: center" class="font-weight-lighter">Your One Stop Car and Body Shop</h2>
                <div style="height: 100px"></div>
                <h1 style="align-content: center" class="font-weight-bold">Try Our Cars.</h1>
                <!--            accordion for pre made cars-->
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                    Lancer Evo
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                             data-parent="#accordion">
                            <div class="card-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col col-sm-2 col-md-4 col-lg-6"
                                             data-th-each="lancer : ${lancer}">
                                            <img data-th-src="@{images/pr2images/cars/lancer/lancerpic1.jpg}" class="img-fluid"
                                                 alt="lancer">
                                            <img data-th-src="@{images/pr2images/cars/lancer/lancerpic2.jpg}" class="img-fluid"
                                                 alt="lancer">
                                            <img data-th-src="@{images/pr2images/cars/lancer/lancerpic3.jpg}" class="img-fluid"
                                                 alt="lancer">
                                            <h3 data-th-text="${lancer.make}"></h3>
                                            <h5 data-th-text="${lancer.model}"></h5>
                                            <h5 data-th-text="'$' + ${lancer.price}"></h5>
                                            <a class="btn btn-primary d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="#"
                                               data-th-href="@{'/orders/car/{id}'(id=${lancer.id})}">Buy Now</a>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                        aria-expanded="false" aria-controls="collapseTwo">
                                    Supra
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col col-sm-2 col-md-4 col-lg-6"
                                             data-th-each="supra : ${supra}">
                                            <img data-th-src="@{images/pr2images/cars/supra/black.jpeg}" class="img-fluid"
                                                 alt="lancer">
                                            <img data-th-src="@{images/pr2images/cars/supra/checkered.jpg}" class="img-fluid"
                                                 alt="lancer">
                                            <img data-th-src="@{images/pr2images/cars/supra/grey.jpg}" class="img-fluid"
                                                 alt="lancer">
                                            <img data-th-src="@{images/pr2images/cars/supra/red.jpg}" class="img-fluid"
                                                 alt="lancer">
                                            <img data-th-src="@{images/pr2images/cars/supra/white.jpg}" class="img-fluid"
                                                 alt="lancer">
                                            <h3 data-th-text="${supra.make}"></h3>
                                            <h5 data-th-text="${supra.model}"></h5>
                                            <h5 data-th-text="'$' + ${supra.price}"></h5>
                                            <a class="btn btn-primary d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="#"
                                               data-th-href="@{'/orders/car/{id}'(id=${supra.id})}">Buy Now</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                    GT 86
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                             data-parent="#accordion">
                            <div class="card-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col col-sm-2 col-md-4 col-lg-6"
                                             data-th-each="eightsix : ${eightsix}">
                                            <img data-th-src="@{images/pr2images/cars/86/blue.jpg}" class="img-fluid"
                                                 alt="lancer">
                                            <img data-th-src="@{images/pr2images/cars/86/convertible.jpeg}" class="img-fluid"
                                                 alt="lancer">
                                            <img data-th-src="@{images/pr2images/cars/86/premium.jpeg}" class="img-fluid"
                                                 alt="lancer">
                                            <img data-th-src="@{images/pr2images/cars/86/red.webp}" class="img-fluid"
                                                 alt="lancer">
                                            <img data-th-src="@{images/pr2images/cars/86/silver.webp}" class="img-fluid"
                                                 alt="lancer">
                                            <h3 data-th-text="${eightsix.make}"></h3>
                                            <h5 data-th-text="${eightsix.model}"></h5>
                                            <h5 data-th-text="'$' + ${eightsix.price}"></h5>
                                            <a class="btn btn-primary d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="#"
                                               data-th-href="@{'/orders/car/{id}'(id=${eightsix.id})}">Buy Now</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer data-th-insert="fragments/navBar.html :: footer"></footer>
</div>
</body>
</html>