<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head data-th-insert="fragments/template.html :: head">

</head>
<body>
<header data-th-insert="fragments/navBar.html :: header"></header>
<h1 class="jumbotron">
    Shopping Cart
</h1>
<div class="col-sm-12"><!-- total display -->
    <hr>
    <h4>Total</h4><h4 align="right"></h4>
</div><!-- total display end -->
<form action="ordercomfirm.php" method="post" class="non-validation" nonvalidate>
    <h1>
        <div style="text-align: center;">Customer Info</div>
    </h1>
    <div class="col-sm-12"><!-- customer display -->
    </div>
    <h1>
        <div style="text-align: center;">Car Info</div>
        <div th:each="item : ${items}" class="flex-row">
            <div class="col-auto">
                <div data-th-text="@{item}"></div>
            </div>
        </div>
    </h1>
    <div class="col-sm-12"><!-- car display -->

    </div><!-- end of row form-->
</form>

</div><!--car display-->
</div><!-- Container end -->";
<footer data-th-insert="fragments/navBar.html :: footer"></footer>
</body>
</html>